@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas';
    src: url(fontes/BebasNeue-Regular.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}
    
body{
    background-color: #e4b0be;
    font-family: Arial, Helvetica, sans-serif;
}

a.externo::after {
    content: '\1f517';

}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong {
    color: #402138;
    font-weight: bold;
    
}

div.video {
    background-color: #522a48;
    
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
 
main a {
    text-decoration: none;
    font-weight: bold;
    background-color: #e4b0be ;
    color: #402138;

}
main a:hover {
    text-decoration: underline;
    color: #703a63;
}

header {
    background-image: linear-gradient(to top, #402138 , #b67694);
    min-height: 150px;
    color: white;
    font-family: 'bebas', 'cursive';
    text-align: center;
    padding-top: 40px;    
}

header > h1{
    font-family: 'bebas', 'cursive';
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.734);


}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.734);
    padding-bottom: 30px;
    
}

nav{
    background-color: #402138;
    padding: 10px;
    box-shadow: 0px 7px 7px black;
   
}

nav > a{
    color: #ffcfdb;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
nav > a:hover{
    background-color: #e4b0be;
}

main{
    background-color:#fdeaf3;
    padding: 20px;
    min-width: 300px;
    max-width: 1080px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.803);
    border-radius: 0px 0px 10px 10px;
}

article > h2{
    
    font-family: 'idroid', 'Arial';
    color: #402138;
    font-weight: normal;
    font-size: 1.8em;
}

main h3 {
    font-family: 'idroid', 'Arial';
    color: #522a48;
    text-indent: 8px;
    font-weight: normal;
    background-image: linear-gradient(to right, #e4b0be, #fdeaf3);
}
main img {
    width: 100%;
    margin: auto;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

aside {
    background-color: #e4b0be;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.494);
}

aside ul {
    list-style-position: inside;
    columns: 2;
}
aside h4 {
    background-color: #402138 ;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    text-align: center;
    background-color: #402138;
    color: white;
    padding: 5px;
    font-size: .8em;
}